*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:90%;
    max-width:420px;
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

h1{
    color:#0077ff;
    margin-bottom:10px;
}

.subtitle{
    color:#666;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:2px solid #ddd;
    border-radius:12px;
    font-size:16px;
    outline:none;
}

input:focus{
    border-color:#0077ff;
}

button{
    width:100%;
    padding:14px;
    margin-top:12px;
    border:none;
    border-radius:12px;
    background:#0077ff;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.03);
}

.random{
    background:#28a745;
}

.clear{
    background:#dc3545;
}

#result{
    margin-top:25px;
    padding:20px;
    background:#f4f4f4;
    border-radius:15px;
    font-size:18px;
    font-weight:bold;
    min-height:80px;
}
